h4 {
    margin-bottom: 0;
}

.mw8-logo {
    transform: scale(.5);
    display: flex;
    width: 100%;
    justify-content: center;
}

.mw8-logo-qr {
    margin-top: 2em;
    transform: scale(.8);
    display: flex;
    width: 100%;
    justify-content: center;
}

.welcome-user {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #20b5ac;
    font-size: 1.5em;
}

.promo-information {
    color: #20b5ac;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.promo-information-final {
    color: #20b5ac;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.owl-item {
    width: 200px;
    overflow: hidden;
}

.qr-code-render {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.qrcode {
    margin-top: 1em;
}

.owl-theme .owl-controls {
    margin-top: 0 !important;
}
body {
    background-color: white;
}

.owl-carousel .owl-item {
    float: left;
    text-align: center !important;
}
